
 <header class="container-fluid bg-dark">
     <div class="row max-width">
         <div class="col">
            <h1 class="text-light h4">This is a title </h1>
         </div>
         <div class="col-9 p-0">
            <form>
                <div >
                    <input type="search" class="mt-1 mb-1 form-control rounded-0 text-white-50 bg-secondary" placeholder="Search here">
                </div>
            </form>
         </div>
         <div class="col-1">
            <button class="btn btn-dark">Log out</button>
        </div>
     </div>
 </header>
