{% extends 'base.html' %}

{% block title %}
SimpleTodo HomePage
{% endblock title %}

{% block content %}
<main>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Opened</th>
                    <th>Working</th>
                    <th>Done</th>
                    <th>Failed</th>
                    <th>Closed</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>test 1 1</td>
                    <td>test 2 2</td>
                    <td>test 3 3</td>
                    <td>test 4 4</td>
                    <td>test 5 5</td>
                    <td>test 6 6</td>
                    <td>test 7 7</td>
                </tr>
                <tr>
                    <td>test 1 1</td>
                    <td>test 2 2</td>
                    <td>test 3 3</td>
                    <td>test 4 4</td>
                    <td>test 5 5</td>
                    <td>test 6 6</td>
                    <td>test 7 7</td>
                </tr>
                <tr>
                    <td>test 1 1</td>
                    <td>test 2 2</td>
                    <td>test 3 3</td>
                    <td>test 4 4</td>
                    <td>test 5 5</td>
                    <td>test 6 6</td>
                    <td>test 7 7</td>
                </tr>
                <tr>
                    <td>test 1 1</td>
                    <td>test 2 2</td>
                    <td>test 3 3</td>
                    <td>test 4 4</td>
                    <td>test 5 5</td>
                    <td>test 6 6</td>
                    <td>test 7 7</td>
                </tr>
                <tr>
                    <td>test 1 1</td>
                    <td>test 2 2</td>
                    <td>test 3 3</td>
                    <td>test 4 4</td>
                    <td>test 5 5</td>
                    <td>test 6 6</td>
                    <td>test 7 7</td>
                </tr>
            </table>
           
        </div>
    </div>
</main>
{% endblock content %}