<div class="row bg-dark">
    <nav class="col navbar navbar-expand navbar-dark ">
        <ul class="navbar-nav text-light">
            <li class="nav-item btn btn-success btn align-baseline p-0">
                <a class="nav-link text-white" href="#">+ Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Overview</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tasks</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tags</a>
            </li>
        </ul>
    </nav>
</div>
