{% load i18n %}
<div class="row bg-dark">
    <nav class="col navbar navbar-expand navbar-dark ">
        <ul class="navbar-nav text-light">
            <li class="nav-item btn btn-success btn align-baseline p-0">
                <a class="nav-link text-white" href="#">+ Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% translate "Overview" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% translate "Tasks" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% translate "Users" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% translate "Tags" %}</a>
            </li>
        </ul>
    </nav>
</div>
